.basket-main {
  max-width: 100%;
  min-height: 400px;
}

.basket-ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style-type: none;
}

.basket-div {
  margin: 20px auto;
  width: 50%;
  background-color: rgb(219, 217, 217);
  border: 1px solid gray;
  border-radius: 5px;
  padding: 10px;
}

.basket-li {
  width: 100%;
}

.basket-h3 {
  font-size: 16px;
}

.item-photo {
  width: 100px;
  margin-bottom: 10px;
}

.basket-item-span {
  color: #b32728;
  font-size: 18px;
  font-weight: 700;
}

.basket-span {
  margin-right: 10px;
}

.remove-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.remove-div {
  margin-right: 50px;
  margin-bottom: 20px;
}

.remove-button {
  width: 100px;
  height: 40px;
  background-color: #a44;
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 8px;
}

.remove-button:hover {
  background-color: #b32728;
}

.total-cost {
  width: 40%;
  margin: 20px auto;
}

.cost-h3 {
  font-size: 20px;
}


@media (max-width: 800px) {
  span, .basket-h3, .basket-item-span {
    font-size: 10px;
  }

  .remove-container, .item-price, .basket-span {
    display: block;
    justify-content: center;
  }

  .basket-span {
    text-align: center;
  }

  .total-cost {
    width: 40%;
    margin: 20px auto;
  }
  
  .cost-h3 {
    font-size: 10px;
    margin-left: 10px;
  }

  .remove-container, .item-price{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .basket-item-title {
    text-align: center;
  }

  .remove-div {
    margin-right: 0;
  }
}