.products-main {
  max-width: 100%;
}

.product-nav {
  margin-top: 20px;
  max-width: 900px;
  display: flex;
  justify-content: center;
}

.button {
  padding: 15px 20px;
  border: none;
  border-radius: 8px;
  background-color: white;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
}

.button:hover {
  background-color: #b32728;
  color: white;
}

.products-info {
  padding: 50px;
  margin: 30px 0;
}

.product {
  border: solid 1px #8080803b;
  padding: 10px;
  border-radius: 5px;
  background: #efefef;
  margin-bottom: 15px;
}

.product-ul {
  list-style-type: none;
}

.info-container {
  display: flex;
  justify-content: space-between;
}

.left-info {
  width: 30%;
}

.right-info {
  width: 60%;
}

.item,
.item-info {
  margin-bottom: 10px;
}

.item-photo {
  border: dashed 1px gray;
  padding: 5px;
  display: flex;
  justify-content: center;
  border-radius: 5px;
  background-color: white;
}

.item-info {
  display: flex;
  justify-content: space-between;
}

.product-photo {
  width: 50%;
  aspect-ratio: 3 / 4;
}

.description {
  width: 100%;
}

.item-span {
  color: #b32728;
  font-size: 18px;
  font-weight: 700;
}

.buy-product {
  width: 100%;
  height: 30px;
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
}

.buy-input {
  margin-top: 20px;
  width: 34%;
  height: 80%;
  border: none;
  text-align: center;
}

.minus,
.plus {
  width: 12%;
  height: 100%;
  font-size: 18px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.minus {
  background-color: red;
}

.plus {
  background-color: yellowgreen;
}

.add-to {
  width: 25%;
  padding: 2.5px 0;
  background-color: purple;
  font-size: 18px;
  font-weight: 700;
  color: white;
  box-sizing: border-box;
  text-align: center;
  cursor: pointer;
}

.no-choise-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.photo-div {
  width: 25%;
  margin-bottom: 50px;
}

.no-choise-photos {
  width: 80%;
  aspect-ratio: 4/5;
}
