.products-main {
  max-width: 100%;
}

.product-nav {
  margin-top: 20px;
  max-width: 900px;
  display: flex;
  justify-content: center;
}

.button {
  padding: 15px 20px;
  border: none;
  border-radius: 8px;
  background-color: white;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
}

.button:hover {
  background-color: #b32728;
  color: white;
}

.products-info {
  padding: 50px;
  margin: 30px auto;
}

.product {
  border: solid 1px #8080803b;
  padding: 10px;
  border-radius: 5px;
  background: #efefef;
  margin-bottom: 15px;
}

.product-ul {
  list-style-type: none;
  width: 70%;
  margin-left: 50px;
}

.info-container {
  display: flex;
  justify-content: space-between;
}

.left-info {
  width: 45%;
  padding-left: 30px;
}

.right-info {
  width: 45%;
}

.item,
.item-info {
  margin-bottom: 10px;
}

.item-photo {
  width: 100%;
  border: dashed 1px gray;
  padding: 5px;
  display: flex;
  justify-content: center;
  border-radius: 5px;
  background-color: white;
}

.item-info {
  display: flex;
  justify-content: space-between;
}

.product-photo {
  width: 100%;
  aspect-ratio: 5 / 4;
}

.description {
  width: 100%;
}

.item-span {
  color: #b32728;
  font-size: 18px;
  font-weight: 700;
}

.no-choise-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.photo-div {
  width: 25%;
  margin-bottom: 50px;
}

.no-choise-photos {
  width: 80%;
  aspect-ratio: 4/5;
}

@media (max-width: 1101px) and (min-width: 601px) {
  .product-ul {
    width: 80%;
    margin-left: 30px;
    padding-left: 30px;
  }
  .description {
    font-size: 16px;
  }
}

@media (max-width: 600px) {
  .product-nav {
    max-width: 500px;
  }

  .button {
  padding: 5px;
  font-size: 10px;
  font-weight: 500;
  }

  .products-info {
    padding: 10px;
    margin: 10px 0;
  }

  .info-container {
    display: block;
  }

  .product-ul {
    width: 80%;
    margin-left: 0;
    padding-left: 20px;
  }

  .left-info {
    width: 50%;
  }
  
  .right-info {
    width: 100%;
  }

  .item,
.item-info, .item-span {
  font-size: 12px;
}

}